			<%= ajax_will_paginate @comments %>
<table class ="table">
				<tr>
					<th>Comment</th>
					<th>Product</th>
					<th>From</th>
					<th>Actions</th>
				</tr>
				<%@comments.each do |c|%>
					<tr>
						<td><%=c.body%></td>
						<%p = Product.find(c.product_id)%>
						<td><div style ="float:left;margin-right:10px;"><%= image_tag p.image_url.to_s, :size => "50x50" %></div><%=link_to p.name, p%></td>
						<%u = User.find(c.user_id)%>
						<td><div style ="float:left;margin-right:10px;"><%= image_tag u.image_url.to_s, :size => "50x50" %></div><%=link_to u.email, u%></td>
						<td><%= link_to 'delete', product_comment_path(c.product_id, c.id), :method => :delete, :data => { confirm: 'Are you sure?' } %></td>
					</tr>
				<%end%>
			</table>

			<%= ajax_will_paginate @comments %>