
	<div class="container-fluid">
      <div class="row-fluid">
		<%= render :partial => "shared/sidebar" %>

		<div class = "span9">

		<% flash.each do |name, msg| %>
	    	<%= content_tag :div, msg, :id => "flash#{name}", :class => "alert" %>
	    <% end %>
	    <% if current_user %>
		    <% if current_user.id == @user.id %>
			<%= link_to 'Edit',edit_user_path(@user),  :class =>"btn btn-small btn-primary pull-right" , :style =>"margin-bottom:20px"%>
			<% end %>
		<% end %>
		<h3><%= image_tag @user.image_url.to_s, :size => "64x64" %>&nbsp;<%= @user.shopname %></h3>
		<table class="table table-striped">
			<%if current_user%>

			<tr>
				<td><b>Email</b></td>
				<td><%= @user.email %></td>
			</tr>
			<%end%>
			<tr>
				<td><b>Contact number</b></td>
				<td><%= @user.contact_number %></td>
			</tr>
			<tr>
				<td><b>Address</b></td>
				<td><%= @user.address %></td>
			</tr>
			<tr>
				<td><b>Description</b></td>
				<td><%= @user.description %></td>
			</tr>
			<tr>
				<td><b>Products</b></td>
				<td>
					<%@products.each do |p|%>
					<%= link_to p.name, p %>, 
					<%end%>
				</td>
			</tr>
		</table>

		<% if current_user %>
			<%if(current_user.id != @user.id) %>
			<div>
				<h4>Message</h4>
				<%= form_for ([@user, @message]) do |m| %>
				  	<%= m.hidden_field :sender_id, :value => current_user.id %>
				    <%= m.hidden_field :sendto_id, :value => @user.id %>
				    <%= m.text_area :content, :rows => "5" %><br>
				    <%= m.submit "Send", :class => "btn btn-small btn-primary" %>
				<% end %>
			</div>	
			<% end%>
		<% end %>
		</div>
	  </div>
	</div>

