<!DOCTYPE html>
<html>
<head>
	<title>UPshoppe</title>

	<%= stylesheet_link_tag "application", :media => "screen" %>
	<%= javascript_include_tag "myjs" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class = "container marketing">
	<%= render :partial => "shared/navigation" %>

	    <%= yield %>          

	<hr>
	<footer>
		<p class ="pull-right">&copy; 2012 James-Gaezel-Jared, Inc. &middot; <%= link_to "About", pages_about_path %></p>
	</footer>
	
	</div>

</body>
</html>
