<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>UPshoppe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<%= stylesheet_link_tag    "myStyle", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "myjs" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "jquery" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class = "container marketing">
	<%= render :partial => "shared/navigation" %>

	    <%= yield %>          

	<hr>
	<footer>
		<p class ="pull-right">&copy; 2012 James-Gaezel-Jared, Inc. &middot; <%= link_to "About", pages_about_path %></p>
	</footer>
	
	</div>

</body>
</html>
